body {
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 31px;
  color: white;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  text-align: left;
}
h2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #667;
  font-size: 33px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
}
h3 {
  margin-bottom: 15px;
  font-family:'Open Sans', sans-serif;
  color: #667;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
h4 {
  margin: 50px 0px 10px;
  color: #667;
  font-size: 29px;
  line-height: 46px;
  font-weight: 300;
}
h5 {
  padding-top: 25px;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 30px;
  font-family:'Open Sans', sans-serif;
  color: #667;
  font-size: 17px;
  text-align: left;
}
.button {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 10px;
  padding: 12px 15px;
  border: 2px solid white;
  border-radius: 7px;
  background-color: #00ccd9;
  box-shadow: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.button.button-outline {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid #00ccd9;
  border-radius: 7px;
  background-color: white;
  color: #00ccd9;
}
.button.button-hero {
  display: inline-block;
  padding: 15px 40px;
  border-style: none;
  font-size: 24px;
}
.button.button-hero.button-hero-orange {
  background-color: #ffbd42;
}
.button.button-subscribe {
  border-color: white;
  background-color: #00ccd9;
}
.button.button-team {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #ebebf0;
  color: #667;
  font-size: 14px;
  font-weight: 300;
}
.logo {
  display: block;
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.sub-footer {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.49);
  font-weight: 400;
  text-align: center;
}
.footer-link {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.49);
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}
.right {
  display: block;
  width: 250px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  text-align: center;
  text-decoration: none;
}
.trainer-summary {
  padding-top: 40px;
}
.text-1 {
  color: #667;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.image-trainer-portrait {
  width: 235px;
  border-radius: 10px;
}
.text-2 {
  padding-top: 0px;
  color: #667;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}
.text-2.landing {
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}
.hero {
  padding-top: 70px;
  padding-bottom: 0px;
  background-color: #00ccd9;
}
.hero.hero-course {
  background-color: #00ccd9;
  color: white;
}
.hero.hero-home {
  background-image: url('../images/MT_V6_Girl_BG-Scaled-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero.hero-strength {
  background-image: url('../images/MT_V6_SquatGuy_BG-Scaled.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero.hero-weight-loss {
  background-image: url('../images/MT_V6_WeightLoss_BG-Scaled-BLUR.png');
  background-position: 92% -91px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.h1_courseheadline {
  margin-bottom: 28px;
  padding-bottom: 0px;
  color: white;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.h1_courseheadline.main {
  margin-bottom: 15px;
  font-size: 58px;
  line-height: 66px;
  font-weight: 600;
  text-align: center;
}
.ctn_base {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.cln_twitter {
  margin-bottom: 10px;
  text-align: center;
}
.txt_basecopy {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.49);
  font-size: 14px;
  font-weight: 400;
}
.scn_foot {
  background-color: #38383a;
  font-weight: 400;
}
.img_icon {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.49);
}
.left {
  width: 250px;
  float: right;
  text-decoration: none;
}
.course-outline-item {
  width: 20%;
  margin-top: 40px;
  float: left;
  text-align: center;
}
.ctr_courseoutline {
  margin-top: -40px;
}
.cln_benefits {
  text-align: center;
}
.row_benefits {
  margin-top: 60px;
}
.read-more {
  margin-top: 10px;
  padding-left: 0px;
  color: #333;
  font-size: 16px;
  text-decoration: underline;
}
.ctn_register {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.txt_trainerbio {
  margin-top: 5px;
  color: #667;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}
.txt_trainerbio.teal {
  color: #00ccd9;
}
.row_courseintro {
  margin-top: 70px;
  margin-bottom: 70px;
}
.block_trainer {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}
.block_trainer.keypoints {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divblk_trainername {
  padding-top: 0px;
}
.list_item {
  padding-bottom: 7px;
  border-bottom: 1px solid #d9d9d9;
}
.column_title {
  text-align: center;
}
.trainer-name {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #667;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}
.images_howitworks {
  margin-bottom: 13px;
}
.course-image {
  width: 270px;
  height: 270px;
  padding-top: 138px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-image: url('../images/MT_V6_Course_WeightLoss_L.jpg');
  background-size: 270px;
  background-attachment: scroll;
}
.course-image.strength {
  background-image: url('../images/MT_V6_Course_Strength_L.jpg');
}
.trainer-profile {
  padding-right: 5px;
  background-color: #00ccd9;
}
.course-summary {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
}
.course-boundary {
  display: block;
  width: 270px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  text-align: center;
}
.course-block-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 5px 15px 10px;
  color: white;
  font-size: 17px;
  line-height: 22px;
  text-align: left;
}
.course-block-text.grey {
  padding: 15px 0px 10px;
  color: #667;
  line-height: 25px;
  font-weight: 400;
}
.course-block-text.grey.below {
  padding-top: 10px;
  padding-bottom: 5px;
}
.course-block-text.descriptor {
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 14px;
  font-weight: 400;
}
.trainer-image-mini {
  display: block;
  margin-right: 10px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
}
.course-list {
  border-bottom: 1px solid #d1d1eb;
}
.support-copy {
  color: white;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
}
.h3-onteal {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.h3-course-name {
  margin-bottom: 0px;
  color: white;
  font-size: 35px;
  line-height: 44px;
  font-weight: 600;
  text-align: left;
}
.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  border-top: 5px solid #00ccd9;
  background-color: white;
  box-shadow: #667 0px 0px 6px 0px;
}
.nav-link {
  margin-top: 5px;
  color: #667;
  font-size: 17px;
  font-weight: 600;
}
.nav-link:active {
  color: #00ccd9;
}
.nav-link.w--current {
  color: #00ccd9;
}
.nav-link.w--current:active {
  color: #00ccd9;
}
.menu-button {
  margin-top: 5px;
  padding: 10px;
  color: #667;
  font-size: 46px;
}
.menu-button.w--open {
  background-color: white;
  color: #00ccd9;
}
.call-out.call-out-teal {
  background-color: #00ccd9;
}
.call-out.call-out-gray {
  background-color: #f0f3f5;
  color: #667;
}
.section {
  padding-top: 50px;
  padding-bottom: 60px;
}
.section.section-white {
  background-color: white;
}
.section.section-gray {
  background-color: #f0f3f5;
  color: #333;
}
.section.section-title {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: #00ccd9;
}
.row-courses {
  padding-right: 10%;
  padding-left: 10%;
}
.hero-title {
  margin-bottom: 15px;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
}
.subscribe-form {
  margin-top: 12px;
  font-size: 17px;
}
.page-title {
  margin-bottom: 20px;
  font-size: 58px;
  line-height: 66px;
  font-weight: 600;
  text-align: center;
}
.paragraph-subtitle {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.h3-feature {
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
}
.p-feature-description {
  margin-bottom: 0px;
  padding-top: 0px;
  color: #667;
  line-height: 25px;
  text-align: center;
}
.p-info-under-button {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  text-align: center;
}
.p-info-under-button.p-info-under-button-white {
  color: white;
}
.p-call-to-action {
  margin-bottom: 10px;
  color: #667;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
}
.p-call-to-action.p-call-to-action-on-teal {
  color: white;
}
.input-text {
  height: auto;
  padding: 12px 15px;
  border: 2px solid white;
  border-radius: 7px;
  background-color: white;
  color: white;
  font-size: 17px;
}
.column-about {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.h3-team-name {
  margin-top: 15px;
  margin-bottom: 8px;
  text-align: center;
}
.p-team-job {
  margin-bottom: 0px;
  text-align: center;
}
.p-course-description {
  margin-bottom: 0px;
  line-height: 25px;
}
.open-menu {
  background-color: white;
}
.trainer-name-title {
  display: block;
  margin-top: 16px;
  color: white;
  font-size: 17px;
  line-height: 22px;
  text-align: left;
}
@media (max-width: 991px) {
  h1 {
    font-size: 39px;
  }
  h4 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 41px;
  }
  .button.button-subscribe {
    margin-top: 15px;
  }
  .text-2 {
    padding-top: 0px;
    font-size: 16px;
    line-height: 22px;
  }
  .text-2.landing {
    font-size: 14px;
    line-height: 19px;
  }
  .hero {
    margin-top: 32px;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .h1_courseheadline {
    margin-top: -12px;
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 23px;
  }
  .h1_courseheadline.main {
    width: auto;
    margin-top: -6px;
    margin-bottom: 22px;
    font-size: 43px;
    line-height: 53px;
  }
  .row_benefits {
    margin-top: 40px;
  }
  .txt_trainerbio {
    font-size: 16px;
    line-height: 22px;
  }
  .row_courseintro {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .divblk_trainername {
    padding-top: 5px;
    padding-left: 8px;
  }
  .trainer-name {
    font-size: 21px;
  }
  .menu-button {
    margin-top: 5px;
    padding: 10px;
    color: #667;
    font-size: 46px;
  }
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h5 {
    padding-right: 10px;
    padding-left: 10px;
  }
  p {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .right {
    display: block;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .text-1 {
    margin-left: 7px;
    text-align: left;
  }
  .text-2 {
    padding-top: 10px;
    text-align: left;
  }
  .hero {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .h1_courseheadline {
    margin-bottom: 20px;
    text-align: center;
  }
  .h1_courseheadline.main {
    text-align: center;
  }
  .left {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-decoration: none;
  }
  .cln_benefits {
    margin-bottom: 40px;
  }
  .row_benefits {
    margin-top: 10px;
  }
  .read-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  .ctn_register {
    text-align: center;
  }
  .txt_trainerbio {
    font-size: 16px;
  }
}
@media (max-width: 479px) {
  h1 {
    margin-top: 20px;
    font-size: 31px;
    line-height: 35px;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .text-1 {
    margin-left: 0px;
    font-size: 14px;
  }
  .text-2 {
    font-size: 15px;
    text-align: center;
  }
  .text-2.landing {
    font-size: 15px;
  }
  .hero {
    padding-top: 24px;
    padding-bottom: 0px;
  }
  .h1_courseheadline {
    margin-top: 0px;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
  }
  .h1_courseheadline.main {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 43px;
    line-height: 48px;
  }
  .course-outline-item {
    width: 50%;
    float: left;
  }
  .course-outline-item.even {
    float: left;
  }
  .course-outline-item._1 {
    float: left;
  }
  .ctr_courseoutline {
    margin-bottom: 0px;
  }
  .row_benefits {
    margin-bottom: 0px;
  }
  .read-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    font-size: 15px;
    text-align: center;
  }
  .ctn_register {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .txt_trainerbio {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
  .ctr_trainer {
    padding-top: 0px;
  }
  .video {
    margin-bottom: -17px;
  }
  .hero-title {
    font-size: 43px;
    line-height: 48px;
  }
  .page-title {
    font-size: 43px;
    line-height: 48px;
  }
}