body {
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #667;
  font-size: 40px;
  line-height: 64px;
  font-weight: 400;
  text-align: center;
}
h2 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #575757;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}
h3 {
  margin-bottom: 15px;
  font-family:'Open Sans', sans-serif;
  color: #667;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
h4 {
  margin: 50px 0px 10px;
  color: #667;
  font-size: 29px;
  line-height: 46px;
  font-weight: 300;
}
h5 {
  padding-top: 25px;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 30px;
  font-family:'Open Sans', sans-serif;
  color: #58585a;
  font-size: 17px;
  text-align: left;
}
.button {
  display: inline-block;
  width: 226px;
  height: 47px;
  margin-top: -14px;
  margin-bottom: 30px;
  padding: 11px 15px 4px;
  border-radius: 7px;
  background-color: #109c00;
  box-shadow: none;
  color: white;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button.btn_grey {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #667;
  color: #667;
}
.button.btn_grey.btn_learnmore {
  display: inline-block;
  width: 185px;
  height: auto;
  margin: 15px auto 20px;
  border: 2px solid #00ccd9;
  border-radius: 6px;
  background-color: white;
  color: #00ccd9;
  font-size: 16px;
  line-height: 11px;
  font-weight: 400;
}
.button.btn_grey.btn_learnmore.benefits {
  display: block;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 80px;
  padding-bottom: 12px;
  float: none;
  border: 1px solid #667;
  color: #667;
  line-height: 18px;
  text-decoration: none;
}
.button.btn_grey.btn_joinwaitlist {
  width: 185px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border: 2px solid #b3b3bd;
  background-color: transparent;
  color: #b3b3bd;
  font-size: 16px;
  line-height: 11px;
  font-weight: 400;
}
.button.btn_getinvited {
  width: 220px;
  height: auto;
  margin: 4px auto 0px;
  padding-bottom: 11px;
  background-color: #ff7b00;
  box-shadow: none;
  color: white;
  font-weight: 300;
  text-align: center;
}
.button.btn_getinvited.btn_choose {
  width: 232px;
  margin-top: -15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-width: 2px;
  border-color: transparent;
  background-color: #ff7b00;
}
.button.btn_getinvited.btn_back2 {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.button.hero_btn {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0px auto 14px;
  padding: 12px 60px;
  background-color: #00ccd9;
  font-size: 20px;
  font-weight: 300;
}
.button.straight {
  display: block;
  width: auto;
  border-radius: 0px;
  background-color: transparent;
  font-size: 14px;
  text-decoration: underline;
}
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  border-top: 4px solid #00ccd9;
  background-color: white;
  box-shadow: rgba(52, 52, 64, 0.49) 0px 5px 16px 0px;
}
.scn_intro {
  padding-top: 140px;
  background-color: #00ccd9;
  color: white;
}
.logo {
  display: block;
  width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.callout {
  display: block;
  margin: 0px auto 20px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 65px;
  line-height: 75px;
  font-weight: 400;
  text-align: center;
}
.callout.courses {
  width: auto;
  padding-right: 100px;
  padding-left: 100px;
}
.text-sub-home {
  margin-bottom: 25px;
  font-family:'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}
.text-sub-home.txt_30px {
  margin-top: -4px;
  font-size: 40px;
}
.text-sub-home.txt_30px.choose-course-page {
  margin-bottom: 90px;
  font-size: 30px;
}
.text-sub-home.cantfind {
  color: #667;
}
.sub-footer {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.49);
  font-weight: 300;
  text-align: center;
}
.footer-link {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  color: rgba(255, 255, 255, 0.49);
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}
.at-a-glance-bg {
  margin-top: 8px;
  padding: 25px 28px 6px;
  border-radius: 5px;
  background-color: white;
  font-size: 17px;
  text-align: left;
}
.right {
  display: block;
  width: 250px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  text-align: center;
  text-decoration: none;
}
.trainer-summary {
  margin-top: 30px;
}
.text-1 {
  color: #667;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
}
.text-1.spam {
  text-align: center;
}
.at-a-glance-txt {
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  color: #667;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}
.course-row-0 {
  margin-top: 10px;
}
.trainer-intro {
  float: left;
}
.trainer-summary-div {
  margin-top: 38px;
}
.trainer-intro-text {
  padding-left: 50px;
  color: white;
}
.intro-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ebebf0;
}
.benefits-section {
  background-color: white;
}
.benefits-section.courseoutline {
  padding-top: 30px;
}
.text-2 {
  padding-top: 0px;
  color: #667;
  line-height: 23px;
}
.description {
  padding-top: 10px;
  color: #667;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 300;
}
.description.txt_benefits {
  font-size: 14px;
  line-height: 20.4px;
}
.course-title-section {
  padding-top: 90px;
  background-color: #00ccd9;
}
.scn_popularcourses {
  background-color: white;
  text-align: right;
}
.scn_popularcourses.scn_white {
  background-color: white;
}
.scn_popularcourses.home {
  margin-top: 160px;
}
.scn_popularcourses.about {
  padding-top: 40px;
  padding-bottom: 60px;
}
.pricing {
  color: #667;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
.launching-soon {
  margin-top: 20px;
  color: #667;
  text-align: center;
}
.scn_benefits {
  background-color: white;
}
.ctr_getstarted {
  padding-bottom: 100px;
  text-align: center;
}
.ctr_getstarted.cantfind {
  padding-top: 40px;
}
.ctr_popularcourses {
  padding-top: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
}
.ctr_popularcourses.last {
  border-bottom-style: none;
}
.ctr_popularcourses.trial {
  text-align: left;
}
.ctr_intro {
  padding-bottom: 0px;
}
.row_popularcourses {
  margin-top: 40px;
}
.row_popularcourses.row_last {
  margin-top: 60px;
}
.h1_white {
  color: #667;
  font-weight: 400;
}
.blk_coursetitle {
  background-color: #00ccd9;
}
.h3_coursetitle {
  margin-bottom: -5px;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  font-size: 34px;
  line-height: 39px;
  font-weight: 400;
}
.h3_coursetitle.txt_3line {
  margin-top: 0px;
}
.h4_explevel {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px 15px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
.blk_trainer {
  height: 75px;
  background-color: #00ccd9;
}
.blk_trainer.blk_trainerlight {
  background-color: #b3b3bd;
}
.blk_course {
  display: block;
  width: 260px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  border: 1px solid #c4c4c4;
  text-align: center;
}
.blk_coursedetail {
  background-color: white;
  text-align: center;
}
.img_trainermini {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 20px;
}
.txt_trainerbio1 {
  margin-top: 10px;
  margin-left: 12px;
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
}
.txt_coursesummary {
  border-bottom-width: 3px;
  color: #667;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}
.txt_coursesummary.txt_coursesum_border {
  padding-top: 8px;
  border-top: 1px solid #c4c4c4;
  border-bottom-style: none;
  border-bottom-width: 1px;
}
.clm_intro {
  text-align: center;
}
.ctn_benefits {
  padding-bottom: 40px;
}
.hdr_benefits {
  margin-top: 80px;
}
.hdr_benefits.hdr_benefitspage {
  margin-top: 120px;
}
.hdr_benefits.hdr_benmod {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
}
.hdr_benefits.hdr_benmod.hdr_benmod2 {
  margin-top: 120px;
}
.h1_courseheadline {
  margin-top: 10px;
  color: white;
  font-weight: 400;
  text-align: left;
}
.after {
  border-bottom: 1px solid rgba(149, 149, 158, 0.4);
  color: #667;
}
.nav_menu {
  color: white;
  font-weight: 400;
}
.ctn_courseheadline {
  padding-bottom: 30px;
}
.ctn_base {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cln_twitter {
  margin-bottom: 10px;
  text-align: center;
}
.txt_basecopy {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.49);
  font-size: 14px;
  font-weight: 300;
}
.scn_base {
  padding-bottom: 20px;
  background-color: #232324;
}
.scn_foot {
  background-color: #38383a;
}
.img_icon {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.49);
}
.row_courses {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.request-form {
  display: block;
  width: 226px;
  margin-top: 42px;
  margin-right: auto;
  margin-left: auto;
  border: 0px solid transparent;
  line-height: 19px;
}
.trainer-bio {
  padding-bottom: 70px;
  background-color: #ebebf0;
}
.privacy {
  margin-bottom: 80px;
  color: #667;
  line-height: 22px;
}
.color {
  color: #667;
  font-size: 16px;
}
.color.w--current {
  color: #00ccd9;
}
.left {
  width: 250px;
  float: right;
  text-decoration: none;
}
.txt_courseoutline {
  margin-top: 7px;
  margin-bottom: 13px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}
.txt_courseoutline.subheadcourseout {
  margin-bottom: 30px;
}
.courseoutline_cln {
  width: 20%;
  float: left;
  text-align: center;
}
.cln_courseoutline {
  margin-top: 27px;
  margin-bottom: 41px;
}
.hero {
  height: 665px;
  padding-top: 150px;
  background-image: url('../images/MT_V6_Girl_BG-Scaled-3.jpg');
  background-size: cover;
}
.courseimage {
  width: auto;
  height: auto;
}
.courseimage.weightloss {
  background-image: url('../images/MT_V6_Course_WeightLoss.jpg');
  background-size: cover;
}
.courseimage.waistline {
  background-image: url('../images/MT_V6_Course_Burn.jpg');
  background-size: cover;
}
.courseimage.mummy {
  background-image: url('../images/MT_V6_Course_Mums.jpg');
  background-size: cover;
}
.courseimage.strength {
  background-image: url('../images/MT_V6_Course_Strength.jpg');
  background-size: cover;
}
.courseimage.toned {
  background-image: url('../images/MT_V6_Course_Toning.jpg');
  background-size: cover;
}
.courseimage.bodybuilding {
  background-image: url('../images/MT_V6_Course_BodyBuilder.jpg');
  background-size: cover;
}
.courseimage.running {
  background-image: url('../images/MT_V6_Course_Runner.jpg');
  background-size: cover;
}
.courseimage.triathlon {
  background-image: url('../images/MT_V6_Course_Cyclist.jpg');
  background-size: cover;
}
.courseimage.mudder {
  background-image: url('../images/MT_V6_Course_Mudder.jpg');
  background-size: cover;
}
.courseoverlay {
  padding-top: 140px;
}
.hero_cta {
  color: white;
}
.coutseoutline {
  margin-bottom: 0px;
}
.coutseoutline.trainer {
  padding-top: 50px;
}
.calltoaction_outline {
  display: block;
  margin-left: auto;
  text-align: center;
}
.cln_benefits {
  text-align: center;
}
.hdr_benefitsmod {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 28px;
}
.hdr_benefitsmod.hdr_aboutsub {
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 18px;
}
.row_benefits {
  margin-top: 70px;
  margin-bottom: 70px;
}
.list_course {
  padding-bottom: 9px;
  float: none;
  text-align: left;
  list-style-type: none;
}
.list_courses {
  padding: 16px 15px 0px;
  list-style-type: none;
}
.scn_cantfind {
  background-color: #ebebf0;
}
.blk_pay {
  height: 145px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}
.cln_about {
  padding: 40px 40px 10px;
  text-align: center;
}
.twitter_lnk {
  padding-top: 5px;
  font-weight: 400;
  text-decoration: none;
}
.btn_aboutus {
  padding: 5px 8px;
  border-radius: 3px;
  background-color: #ebebf0;
  color: #667;
  font-weight: 300;
  text-decoration: none;
}
.follow {
  display: block;
  width: 174px;
  margin: -39px auto 60px;
}
.img_follow {
  margin-right: 10px;
  padding-top: 14px;
}
.pilot {
  margin-bottom: 10px;
  color: #667;
  font-size: 16px;
  text-align: justify;
}
.value-prop {
  font-family:'Open Sans', sans-serif;
  color: #667;
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
  text-align: center;
}
.subscribe {
  height: auto;
  padding-bottom: 11px;
  border: 2px solid #00ccd9;
  background-color: transparent;
  color: #00ccd9;
  font-weight: 400;
}

.subscribe-section {
  display: block;
  width: 226px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.what_involved {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  h1 {
    font-size: 39px;
  }
  h4 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 41px;
  }
  .button.btn_grey.btn_learnmore.benefits {
    height: auto;
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
  }
  .button.btn_getinvited {
    width: 200px;
    box-shadow: none;
  }
  .scn_intro {
    padding-top: 100px;
  }
  .callout {
    width: auto;
    margin-top: 30px;
    font-size: 52px;
    line-height: 58px;
  }
  .text-sub-home {
    font-size: 17px;
    line-height: 28px;
  }
  .text-sub-home.txt_30px {
    font-size: 30px;
  }
  .text-sub-home.txt_30px.choose-course-page {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 34px;
  }
  .at-a-glance-bg {
    padding-right: 15px;
    padding-left: 15px;
  }
  .at-a-glance-txt {
    font-size: 13px;
  }
  .text-2 {
    padding-top: 0px;
  }
  .course-title-section {
    padding-top: 70px;
  }
  .pricing {
    line-height: 35px;
  }
  .launching-soon {
    font-size: 14px;
  }
  .h3_coursetitle {
    margin-top: 2px;
    font-size: 30px;
    line-height: 36px;
  }
  .h3_coursetitle.txt_3line {
    margin-top: -34px;
  }
  .h4_explevel {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .blk_course {
    width: 225px;
  }
  .img_trainermini {
    margin-left: 10px;
    float: left;
  }
  .txt_trainerbio1 {
    font-size: 14px;
    font-weight: 400;
  }
  .txt_coursesummary {
    font-size: 14px;
    font-weight: 300;
  }
  .ctn_benefits {
    padding-bottom: 0px;
  }
  .hdr_benefits {
    margin-bottom: 0px;
  }
  .hdr_benefits.hdr_benmod {
    line-height: 63px;
  }
  .privacy {
    margin-top: 30px;
  }
  .color {
    color: #667;
  }
  .txt_courseoutline {
    font-size: 16px;
  }
  .hero {
    background-position: 54% 0%;
  }
  .courseimage.waistline {
    height: auto;
  }
  .courseimage.toned {
    height: auto;
  }
  .hdr_benefitsmod {
    margin-bottom: 10px;
    line-height: 31px;
  }
  .hdr_benefitsmod.hdr_aboutsub {
    line-height: 35px;
  }
  .row_benefits {
    margin-top: 40px;
  }
  .blk_pay {
    height: auto;
    margin-top: 15px;
  }
  .cln_about {
    padding-right: 20px;
    padding-left: 20px;
  }
  .follow {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  body {
    text-align: center;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h5 {
    padding-right: 10px;
    padding-left: 10px;
  }
  p {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .button.btn_getinvited {
    box-shadow: none;
  }
  .header {
    box-shadow: rgba(52, 52, 64, 0.49) 0px 2px 6px 0px;
  }
  .scn_intro {
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 14px;
  }
  .callout {
    margin-top: 88px;
    font-size: 52px;
    line-height: 58px;
    text-align: center;
  }
  .text-sub-home {
    margin-top: 20px;
    line-height: 25px;
  }
  .text-sub-home.txt_30px {
    font-size: 25px;
  }
  .text-sub-home.txt_30px.choose-course-page {
    margin-bottom: 30px;
  }
  .at-a-glance-bg {
    margin-right: 0px;
    padding-top: 25px;
  }
  .right {
    display: block;
    margin-top: 13px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .padding-title {
    margin-bottom: -31px;
    padding-top: 23px;
  }
  .text-1 {
    margin-left: 7px;
    text-align: left;
  }
  .at-a-glance-txt {
    text-align: left;
  }
  .trainer-intro {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .trainer-summary-div {
    display: block;
    margin: 0px auto 20px 171px;
    font-size: 14px;
  }
  .trainer-intro-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 54px;
    text-align: left;
  }
  .intro-column {
    padding-right: 10px;
    padding-left: 10px;
  }
  .benefits-section {
    padding-top: 0px;
  }
  .text-2 {
    padding-top: 10px;
    text-align: left;
  }
  .description {
    padding-top: 0px;
  }
  .course-title-section {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .scn_popularcourses {
    margin-top: -60px;
    padding-bottom: 0px;
  }
  .launching-soon {
    margin-top: 0px;
  }
  .ctr_popularcourses {
    margin-top: -63px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .ctr_intro {
    margin-bottom: 67px;
  }
  .row_popularcourses.row_last {
    margin-top: 0px;
  }
  .h1_white {
    line-height: 46px;
  }
  .h3_coursetitle {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
  }
  .h4_explevel {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 27px;
  }
  .blk_course {
    margin-bottom: 40px;
  }
  .img_trainermini {
    margin-bottom: 7px;
  }
  .txt_trainerbio1 {
    display: inline-block;
    margin-top: 10px;
    margin-left: -65px;
  }
  .txt_coursesummary {
    padding-right: 0px;
    padding-left: 0px;
  }
  .clm_intro {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .ctn_benefits {
    padding-bottom: 0px;
  }
  .hdr_benefits.hdr_benmod {
    line-height: 45px;
  }
  .h1_courseheadline {
    margin-bottom: 20px;
    text-align: center;
  }
  .nav_menu {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #667;
    font-size: 51px;
    font-weight: 400;
  }
  .nav_menu.w--open {
    background-color: #667;
  }
  .ctn_courseheadline {
    padding-bottom: 0px;
  }
  .privacy {
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
  }
  .color {
    background-color: #667;
    color: white;
  }
  .left {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-decoration: none;
  }
  .txt_courseoutline {
    font-size: 14px;
  }
  .txt_courseoutline.subheadcourseout {
    padding-right: 5px;
    padding-left: 5px;
  }
  .hero {
    padding-top: 20px;
  }
  .courseimage.toned {
    background-size: cover;
  }
  .cln_benefits {
    margin-bottom: 40px;
  }
  .row_benefits {
    margin-top: 10px;
  }
  .list_courses {
    padding-right: 10px;
    padding-left: 10px;
  }
  .blk_payment {
    padding-right: 150px;
    padding-left: 150px;
  }
  .blk_pay {
    height: auto;
    margin-top: 26px;
  }
  .divblk_benefits {
    width: auto;
    padding-right: 80px;
    padding-left: 80px;
  }
  .field {
    margin-bottom: 30px;
  }
}
@media (max-width: 479px) {
  h1 {
    margin-top: 20px;
    font-size: 31px;
    line-height: 35px;
  }
  h3 {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .button.btn_getinvited {
    box-shadow: none;
  }
  .scn_intro {
    padding-top: 20px;
  }
  .callout {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-size: 44px;
    line-height: 48px;
  }
  .callout.courses {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 41px;
  }
  .text-sub-home {
    font-size: 21px;
    line-height: 24px;
  }
  .text-sub-home.txt_30px.choose-course-page {
    font-size: 21px;
    line-height: 28px;
  }
  .at-a-glance-bg {
    margin-top: 25px;
  }
  .text-1 {
    margin-left: 0px;
    font-size: 14px;
  }
  .at-a-glance-txt {
    font-size: 14px;
  }
  .trainer-intro {
    margin-right: -31px;
    margin-left: 5px;
  }
  .trainer-summary-div {
    margin-left: 39px;
  }
  .trainer-intro-text {
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
  }
  .intro-column {
    padding-right: 10px;
    padding-left: 10px;
  }
  .description.txt_benefits {
    font-size: 16px;
    line-height: 21.4px;
  }
  .scn_popularcourses {
    padding-bottom: 0px;
  }
  .launching-soon {
    margin-top: 10px;
  }
  .ctr_intro {
    padding-top: 60px;
  }
  .h1_white {
    font-size: 29px;
  }
  .h4_explevel {
    line-height: 27px;
  }
  .txt_trainerbio1 {
    margin-left: -63px;
  }
  .txt_coursesummary {
    font-weight: 300;
  }
  .clm_intro {
    padding-top: 70px;
  }
  .hdr_benefits {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hdr_benefits.hdr_benmod {
    font-size: 30px;
    line-height: 35px;
  }
  .h1_courseheadline {
    margin-top: 30px;
    font-weight: 400;
  }
  .ctn_privacy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .color {
    color: white;
  }
  .courseoutline_cln {
    width: 50%;
    float: left;
  }
  .courseoutline_cln.even {
    float: left;
  }
  .courseoutline_cln._1 {
    float: left;
  }
  .courseimage.running {
    height: auto;
  }
  .courseimage.triathlon {
    height: auto;
  }
  .courseimage.mudder {
    height: auto;
  }
  .blk_payment {
    padding-right: 30px;
    padding-left: 30px;
  }
  .divblk_benefits {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 14px;
  }
  .field {
    margin-bottom: 30px;
  display: inline-block;
  width: 226px;
  height: auto;
  padding: 11px 15px;
  border: 2px solid #667;
  border-radius: 7px;
  text-align: center;
}

  }
}